.container{

    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 200px 200px;
    gap: 20px;


}

.item{

    background-color:aqua;
    color: black;
    border: 1px solid black;
}


.item1{

    background-color: blue;
    border: 1px solid black;
    grid-area: 1/3;
}