#flex{

    border: 1 px solid black;
    width: 200px;
    height: 200px;
    background-color: aqua;
    padding: 16px;
}

.direction{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border: 1px solid black;
    height: 60vh;
}
